# Entorno virtual
env_facial/

# Archivos compilados y caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# ==========================================
# Datos Sensibles y Privacidad (NO SUBIR)
# ==========================================

# Base de datos local (Contiene correos, nombres y biometría)
sistema_facial.db
*.sqlite3

# Carpeta de fotografías físicas de los usuarios registradas
rostros/
*.jpg
*.jpeg
*.png