# Entorno virtual
env_facial/

# Archivos compilados y caché de Python
__pycache__/
*.pyc
*.pyo

# Base de datos local SQLite (Opcional, pero recomendado)
sistema_facial.db
*.sqlite3

# Archivos del sistema operativo
.DS_Store
Thumbs.db